.portfolio-page-container {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../../assets/ai-bg-4.webp');
        background-size: cover;
        /* Adjust as needed */
        background-repeat: no-repeat;
        background-position: center; // Centers the image
        transform: scaleY(-1);
        // z-index: -1;
        opacity: 0.5;
    }

    height: 100%;
    width: 100%;
    // background: #fbf8ee;

    .page-header {
        height: 100px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        background-color: transparent;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        monolith-angular-analog-clock {
            margin:2rem;
        }


    }



}


.coming-soon {
    margin:2rem;
    margin-bottom:8rem;
    font-size: 3rem;
    text-shadow:
    -1px -1px 0 black,  /* Top left shadow */
     1px -1px 0 black,  /* Top right shadow */
    -1px 1px 0 black,   /* Bottom left shadow */
     1px 1px 0 black;   /* Bottom right shadow */
     color: darken(#fbf8ee, 15%);

}