<div class="landing-page-container">
  <div class="intro-container">
    <!-- <div class="intro-sentence">
      <div>Hi there Im</div>
    </div> -->
    <div class="name">
      <div class="neumorphic-text">Ryan Amundson</div>
    </div>
    <div class="title">
      <div class="neumorphic-text">Senior Software Engineer FE</div>
    </div>

    <!-- <div class="brief-about-me">
      Software engineer and tech enthusiast living in Bellevue, WA.
    </div> -->
  </div>
  <div class="action-container">
    <div class="action-item">
      <!-- <div class="neumorphic-text">Resume</div> -->
      <div>Resume</div>
    </div>
  </div>
</div>
