<div class="layout-2 landing-page-container">


  <div class="name">
    <div class="neumorphic-text">Ryan Amundson</div>
  </div>
  <div class="title">
    <div class="neumorphic-text">Senior Software Engineer FE</div>
  </div>

  <div class="action-1">
    <!-- <div class="neumorphic-text">Resume</div> -->
    <div>Resume</div>
  </div>
  <div class="action-2">
    <!-- <div class="neumorphic-text">Resume</div> -->
    <div>Resume</div>
  </div>
  <div class="action-3">
    <!-- <div class="neumorphic-text">Resume</div> -->
    <div>Resume</div>
  </div>

</div>