.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y:auto;
  overflow-x:hidden;
  height: 100vh;
  width:100vw;
  box-sizing: border-box;
}

.full-page-section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

/* Custom Scrollbar Styles */
/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height for horizontal scrollbars */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #fbf8ee; /* Background color */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: darken(#fbf8ee, 20%); /* Color of the scrollbar thumb */
  border-radius: 5px; /* Roundness of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Color of the scrollbar thumb on hover */
}
